openapi: 3.0.0
info:
  title: AIDocMaker API
  version: 1.0.0
  description: API for generating presentations using AIDocMaker

servers:
  - url: https://api.aidocmaker.com
    description: Production server

paths:
  /generate_presentation:
    post:
      summary: Generate a presentation
      description: Generate a presentation based on a user prompt
      operationId: generatePresentation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - prompt
              properties:
                prompt:
                  type: string
                  description: Prompt for the presentation
                  example: Create a presentation about the benefits of AI in healthcare, with 5 slides and statistics
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_link:
                    type: string
                    description: A URL where the generated presentation can be downloaded. This URL is temporary and should be used promptly.
        '400':
          description: Bad Request - Invalid or missing parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '401':
          description: Unauthorized - Invalid or missing authentication
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '429':
          description: Too Many Requests - Rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /generate_spreadsheet:
    post:
      summary: Generate a spreadsheet using AI
      description: Generate a spreadsheet based on a user prompt, with optional CSV data
      operationId: generateSpreadsheet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - prompt
              properties:
                prompt:
                  type: string
                  description: Instructions that will be used by an AI agent to create the spreadsheet. The instructions should be detailed and contain important information.
                  example: Generate a monthly time tracking spreadsheet for 2025 that includes columns for date, project name, task description, hours worked, billable status, and notes. Include formulas to calculate total hours per project and per month.
                csv_data:
                  type: string
                  description: Optional CSV data to use during spreadsheet generation. The data should be in CSV format.
                  default: ""
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_link:
                    type: string
                    description: A URL where the generated spreadsheet can be downloaded. This URL is temporary and should be used promptly.
        '400':
          description: Bad Request - Invalid or missing parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '401':
          description: Unauthorized - Invalid or missing authentication
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '429':
          description: Too Many Requests - Rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
